<div class="container">
  <div class="row">
    <div class='mx-auto'>
    <h1 class = "text-center mt-3 mb-3">Top</h1>
    <p class="text-center">
        baseball matchの管理者用ページです。
  </div>
 </div>
</div>
<div class="text-center">
  <%= image_tag 'sports_baseball_man_asia.png', size: "300x300" %>
</div>